<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog" />
    <section name="aws" type="Amazon.AWSSection, AWSSDK.Core" />
  </configSections>
  <aws region="us-east-1" profileName="prod-jobpostingnormalizeworker" />
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <targets>
      <target xsi:type="Debugger" name="Debugger" />
      <target xsi:type="Console" name="Console" />
      <target name="File" xsi:type="File" layout="${longdate} ${logger} ${message}" fileName="${basedir}/logs/log.txt" archiveFileName="${basedir}/logs/archives/log.{#}.txt" archiveEvery="Day" archiveNumbering="Rolling" archiveAboveSize="5242880" concurrentWrites="true" maxArchiveFiles="5" keepFileOpen="false" encoding="iso-8859-2" />
    </targets>
    <rules>
      <!-- Trace, Debug, Info, Warn, Error, Fatal -->
      <logger name="*" minlevel="Debug" writeTo="Debugger,File" />
      <logger name="*" minlevel="Info" writeTo="Console" />
    </rules>
  </nlog>
</configuration>